<h1 class="hero-title">Welcome to CSE Motors!</h1>
<div class="hero-container">
  <div class="content-box">
    <p class="car-model">DMC Delorean</p>

    <ul class="description-list">
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>

    <a href="#" class="own-button">
      <img
        src="/images/site/own_today.png"
        class="own-btn"
        alt="own-btn"
      />
    </a>
  </div>
</div>
